header.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.header-region.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

// Page title hero
#block-client-theme-page-title {
  background-color: $blue;
  padding: 1rem 0 1.2rem;
  clear: left;
}

#block-client-theme-page-title h1 {
  color: $white;
  text-align: center;
  letter-spacing: 1px;
  @extend .container;
}

#block-sitebranding {
  width: 260px;
  padding: 15px 0 10px;
  @extend .float-left;
  @include media-breakpoint-down(md) {
    float: none;
  }
}

.title-underline {
  margin: 0 auto;
  text-align: center;
}

.title-line {
  border-top: solid 2px $white;
  height: 22px;
  display: inline-block;
}

.title-icon {
  background: $heart-pulse;
  width: 90px;
  height: 55px;
  display: inline-block;
}

