.home-join-client {
  background-color: $light-blue;
  padding: 3rem 3rem 4rem 3rem;
  //design calls for a little extra space on the bottom for breathing room
}
.home-join-client h2, .home-join-client p {
  color: $white;
  text-align: center;
  font-family: $lato;
}

.home-join-client p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}