/*main >.container {
    padding: 2rem 0 0 2rem;
}

main >.container >.col-md-8 {
  float: left;
}

main >.container >.col-md-4 {
  float: right;
}
*/
.scholarship-recipient {
  margin-bottom: 1rem;
}

.container-no-padding {
  padding: 0;
}